/*-----------------------------------------------------------------------
------------------------------------------------------------------------- * MY WORK START FROM HERE */

:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark {
    --primary-color: #000106;
    --secondary-color: #fff;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: var(--primary-color);
    scroll-behavior: smooth;
}

.headings {
    position: relative;
    color: var(--secondary-color);
    right: 88rem;
    font-size: x-large;
    left: 60rem;
}

.headerContainer {
    width: 125%;
    position: absolute;
    top: 16rem;
    height: 25rem;
    background-color: #E5383B;
    padding-bottom: 30px;
    padding-top: 30px;
}

.search {
    background-color: var(--primary-color);
    position: relative;
    top: 43rem;
    left: 15rem;
    width: 30rem;
    height: 5rem;
    box-shadow: 0 0 25px 0 rgb(0, 0, 0, 0.4);
    border-radius: 50px;
}

.search input {
    width: 30rem;
    padding: 2rem;
    height: 5rem;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
}

.search a i {
    color: #0B090A;
    position: relative;
    bottom: 43px;
    left: 25rem;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}

.gallery {
    position: relative;
    top: 42rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.content {
    width: 20%;
    height: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgb(0, 0, 0, 0.25), 0 10px 10px rgb(0, 0, 0, 0.22);
    transition: .4s;
    background: var(--primary-color);
}

.content:hover {
    box-shadow: 0 30px 6px rgba( 0, 0, 0, 0.16), 0 3px 6px rgb(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

p {
    text-align: center;
    color: var(--secondary-color);
    font-size: 14px;
    padding: 0 8px;
}

h6 {
    font-size: 26px;
    text-align: center;
    color: var(--secondary-color);
    margin: 0;
}

ul {
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 0;
}

li {
    padding-top: 5px;
}

.fa {
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}

.checked {
    color: #ff9f43;
}

.fa:hover {
    transform: scale(1.3);
    transition: .6s;
}

button {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: var(--primary-color);
    width: 100%;
    padding: 15px;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.buy-1 {
    background: #E5383B;
}

.page2 {
    width: 100%;
    height: 20rem;
}

.page2p {
    position: absolute;
    bottom: 0%;
    top: 150rem;
    font-size: 23px;
    left: 38%;
}

.page2 .page2link {
    position: absolute;
    top: 157rem;
    left: 47%;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    width: 130px;
    height: 4rem;
    box-shadow: inset 0 0 0 0 var(--black);
    transition: ease-out 0.6;
}

.page2 .page2link:hover {
    box-shadow: inset 130px 0 0 0 #BA181B;
}


/*----------------------------------------------------------------------
---------------------------------------------------------- SECOND PAGE*/

.footerinfo {
    position: relative;
    top: 10rem;
    width: 110%;
    height: 25rem;
    background: #E5383B;
}

.footerdiv {
    position: absolute;
    right: 80rem;
    font-size: x-large;
    padding: 5rem;
    margin-left: 20rem;
    color: var(--primary-color);
}

.topics {
    position: relative;
    left: 15%;
    bottom: 30rem;
}

.big {
    position: relative;
    top: 45rem;
    font-size: 27px;
    align-items: center;
    color: var(--secondary-color);
}

.vid {
    position: relative;
    width: 65%;
    height: 65rem;
    top: 47rem;
}

.paragraph {
    position: relative;
    top: 50rem;
    width: 60%;
    height: 15rem;
    font-size: 19px;
    font-weight: 700;
    text-align: left;
    right: 0.9rem;
}

.footer1 {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 40rem;
    top: 230rem;
    right: 0rem;
}

.footer1 .img22 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.footer1 h1 {
    padding: 0 3rem 0 3rem;
    position: relative;
    bottom: 35rem;
    font-size: 23px;
    font-weight: 600;
    color: white;
}

.footer1 p {
    position: relative;
    text-align: center;
    width: 70%;
    left: 29rem;
    bottom: 35rem;
    color: white;
    font-size: 26;
    font-weight: 700;
}

.footer1 .btn22 {
    position: relative;
    bottom: 35rem;
    right: 1.5rem;
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 4px;
    margin-left: 1rem;
    width: 130px;
}

.footer1 a {
    color: var(--primary-color);
}